@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Header{
  width: 100%;
  height: 10vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Logo{
  width: 210px;
  height: 50px;
  background-color: #000000;
  opacity: 1;
  color: #FFFFFF;
  font: normal normal 900 32px/39px Lato;
  display: flex;
}
.Cubo{
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: #000000;
}
.cuboGame1{
  width: 94%;
  height: 44%;
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  background-color: #000000;
}
.cuboGame{
  width: 94%;
  height: 44%;
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  background-color: #000000;
}
.miniCubo1{
  width: 46%;
  height: 96%;
  margin: 2%;
  background-color: #FFFFFF;
}
.miniCubo{
  width: 46%;
  height: 96%;
  margin: 2%;
  background-color: #FFFFFF;
}
.Lista{
  width: 15%;
  display: flex;
  justify-content: space-between;
}
.Link{
  font: normal normal 300 16px/20px Lato;
  opacity: 1;
  text-decoration: none;
  color: #000000;
}
.section1{
    width: 1004px;
    height: 310px;
    margin-top: 25px;
    display: flex;
}
.textoLeft{
    width: 40%;
    height: 299px;
    margin-right: 10%;
}
.cuadroRight{
    width: 50%;
    height: 299px;
    background-color: #f2f2f2;
    border-radius: 20px;
}
.pTitulo{
    font: normal normal 700 40px/48px Lato;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}
.parrafo{
    font: normal normal 300 20px/24px Lato;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}
.botonCronoVenta{
    width: 200px;
    height: 30px;
    background-color: #000000;
    border-radius: 25px;
    color: #FFFFFF;
    font: normal normal bold 15px/21px Roboto;
    margin-top: 5%;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1; 
}
.section2{
    width: 100%;
    height: 433px;
    background-color: #efefef;
}
.Juegos{
    width: 100%;
    height: 433px;
    margin-top: 2%;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Juegos2{
    width: 70%;
    margin-top: 2%;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.headerJuegos{
    width: 94%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.icon{
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.headerTextoJuegos{
    font: normal normal 900 24px/29px Lato;
    color: #707070;
}
.textoJuegos{
    font: normal normal 100 15px/19px Lato;
}
.sectionJuegos{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.videojuego2{
    width: 25%;
    height: 240px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E3E3;
    margin-top: 15px;
}
.pHeaderJuego{
    font: normal normal 300 18px/22px Lato;
    letter-spacing: 0px;
    color: #707070;
}
.videojuego{
    width: 30%;
    height: 240px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E3E3;
    margin-top: 15px;
}
.divJuego{
    width: 94%;
    height: 80%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 3% 3% 0% 3%;
}
.headerVideojuego{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: end;
}
.footerVideojuego{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: end;
}
.textoVJuego{
    font: normal normal 100 15px/19px Lato;
    margin-left: 5%;
}
.Plataformas{
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-left: 5px;
    margin-bottom: 5px;
}
h6{
    font: normal normal 100 12px/15px Lato;
    margin: 5px 10px 5px 10px;
    color: #707070;
}
.section3{
    width: 1004px;
    height: 650px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.Footer{
    width: 100%;
    height: 20vh;
    background-color: #707070;
    display: flex;
    justify-content: space-around;
}

.divFooter{
    width: 20%;
    height: 90%;
    margin: 2%;
}
.pFooter{
    font: normal normal 300 12px/15px Lato;
    margin: 5px;
    color: #FFFFFF;
}
.divImages{
    width: 35%;
    display: flex;
    justify-content: space-around;
}